<div class="card" style="width: 50rem;">
    <img src="https://miro.medium.com/max/1400/1*L88Qxx696onBfTS-FXNM5w.png" class="card-image-top" alt="...">
    <div class="card-body">
      <img class="rounded-circle" style="border: 2px solid; border-radius: 50%; width: 175px; height: 175px;" src="https://media-exp1.licdn.com/dms/image/C4D03AQFcEvNPFPdFNw/profile-displayphoto-shrink_200_200/0/1599991040638?e=1646265600&v=beta&t=KUGDB3_CyIH6APpFbj6k3Xv7_Llud3CohfvFnGfnNWo">
      <h5 class="card-title">Mehmet Hamza ERYILDIZ</h5>
      <p class="card-text">Elektronik ve Haberleşme Mühendisi</p>
      <p>Türkiye . <a href="#">İletişim Bilgileri</a></p>
      <p>
        <a href="#" class="btn btn-primary">Açık</a>
        <a href="#" class="btn" style="border: 1px solid">Bölüm Ekle</a>
        <a href="#" class="btn" style="border: 1px solid">Daha Fazla</a>
      </p>                    
      
    </div>
  </div>
