<!DOCTYPE html>
<html lang="tr" class="theme theme--mercado">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title> Mehmet Hamza Eryıldız | Linkedin</title>
</head>


<body>
  
  <app-header></app-header>

  <br>
  
  <div class="container">
        <div class="row">
              <div class="col-9">
                <div class="container">
                  
                  <app-kart></app-kart>

                  <br>

                  <app-hakkinda [hakkinda]="hakkinda"></app-hakkinda>

                  <!-- Modal -->
                
                  <app-modal (newItemEvent)="onHakkindaUpdate($event)"></app-modal>

                  <br>

                  <app-deneyimler [deneyim]="deneyim"></app-deneyimler>

                  <!-- Modal -->
                  <app-modaldeneyimler (deneyimEvent)="deneyimEkle($event)"></app-modaldeneyimler>

                  <br>

                  <app-egitim [egitim] = "egitim"></app-egitim>

                  <!-- Modal -->
                  <app-modal-egitim (EgitimEvent)="egitimEkle($event)"></app-modal-egitim>


                  <br>

                  <app-ilgialanlari></app-ilgialanlari>

                  <app-modal-ilgialani></app-modal-ilgialani>

                </div>                
                
              </div>


              <div class="col-3 col-md-offset-2">
                  <div class="container">
                    <app-diger-goruntulenenler></app-diger-goruntulenenler>
                  </div>
              </div>
        </div>
  </div>
  
</body>


</html>