<div class="container bg-light" style="border-radius: 10px; border: 1px;">
    <form>
      <div class="row">
        <div class="col">
          <label>Hakkında</label>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Guncelle">Güncelle</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label id="#hakkinda">{{hakkinda}}</label>
        </div>
      </div>
    </form>                
  </div>
