<table class="table-light">
    <thead>
      <tr>
        <th scope="col">Diğer görüntülenenler</th>
      </tr>
    </thead>                      
    <tbody>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Didem Çabuk</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Anıl Bayrak</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Ezgi Subaşı</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Rıfat Börekçi</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Derin Yılmaz</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Ali Kaymaz</td>
        <td></td>
      </tr>
      <tr>
        <th scope="row"><img class="rounden-circle" style="border: 2px solid; border-radius: 50%; width: 75px; height: 75px;"
                          src="https://thumbs.dreamstime.com/b/default-avatar-profile-icon-vector-unknown-social-media-user-photo-default-avatar-profile-icon-vector-unknown-social-media-user-184816085.jpg"></th>
        <td>Duyşen Erdoğan</td>
        <td></td>
      </tr>
    </tbody>
  </table>
