<div class="container bg-light" style="border-radius: 10px;">
    <form>
      <div class="row">
        <div class="col">
          <label>Deneyimler</label>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Ekle1">+</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label id="deneyimler" >
             {{deneyim.title}}, 
             {{deneyim.sirket}}, 
             {{deneyim.konum}}
            </label>
        </div>
      </div>
    </form>  
  </div>
