<div class="container bg-light" style="border-radius: 10px;">
    <form>
      <div class="row">
        <div class="col">
          <label>Eğitim</label>
        </div>
        <div class="col">
          <button type="button" class="btn btn-outline-secondary" data-bs-toggle="modal" data-bs-target="#Egitim">+</button>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <label>
            {{egitim.okul}},
            {{egitim.derece}},
            {{egitim.bolum}}
          </label>
        </div>
      </div>
    </form>
  </div>
